* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'margareth'; /*a name to be used later*/
  src: url('font/MargarethRosinante-Regular.otf'); /*URL to font*/
}
:root {
  --main-color: #ED5B09;
  --main-text-gray: rgb(199, 199, 199);
  --main-background: #070503
}
.text-main {
  color: var(--main-color);
}
.font {
  font-size: 20px;
  line-height: 30px;    
}
body {
  font-family: Helvetica, Sans-Serif;
  font-size: 20px;
  background-color: var(--main-background);
  overflow-x: hidden;
  color: white;
  cursor: none;
}
.anim-translate-container {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}
.delay-1 {
  animation-delay: 0.1s;
}
.delay-2 {
  animation-delay: 0.2s;
}
.delay-3 {
  animation-delay: 0.3s;
}
.delay-4 {
  animation-delay: 0.4s;
}
.delay-5 {
  animation-delay: 0.5s;
}
.delay-6 {
  animation-delay: 0.6s;
}
.delay-7 {
  animation-delay: 0.7s;
}
.delay-8 {
  animation-delay: 0.8s !important;
}
.delay-9 {
  animation-delay: 0.9s;
}
.delay-10 {
  animation-delay: 1s !important;
}
.delay-11 {
  animation-delay: 1.1s !important;
}
.delay-20 {
  animation-delay: 2s !important;
}
.anim-translate {
  transform: translateY(100%);
  animation: anim-translate 2.2s cubic-bezier(0.77,0,0.18,1) forwards;
}
@keyframes anim-translate {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
a {
  color: white;
  text-decoration: none;
}
nav {
  width: 100%;
  height: 95px;
  position: fixed;
  transition: 0.4s cubic-bezier(.19,1,.22,1);
  z-index: 999;
}
nav.active {
  height: 70px;
  background: rgba(11, 11, 10, 0.755);
  backdrop-filter: blur(30px) saturate(180%);
}
.nav-top.active {
  border-bottom: solid 1px rgba(255, 255, 255, 0.08);
}
.nav-bottom.active {
  border-top: solid 1px rgba(255, 255, 255, 0.08);
}
.nav-bottom {
  width: 100%;
  height: 95px;
  position: fixed;
  bottom: 0;
}
.navbar_logo {
  font-family: 'margareth';
  font-size: 35px;
  color: white;
}
.navbar {
  width: min(calc(100% - 40px), 1300px);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navbar_box {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.menu-info {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.35);
  transition: 0.8s cubic-bezier(.19,1,.22,1);
  opacity: 0;
}
.menu-info.active {
  opacity: 1;
}
.pl35 {
  padding-left: 35px;
}
.navbar_box a:nth-child(2) {
  padding-left: 40px;
}
.navbar_box2 p:nth-child(1) {
  padding-left: 35px;
  color: white;
}
.navbar_box2 p:nth-child(2) {
  padding: 0;
}
/* titre hero */
.title_intro_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  user-select: none;
-webkit-user-select: none;

}
.title_intro {
  font-size: 250px;
  width: fit-content;
  white-space: nowrap;
  font-family: 'margareth';
  animation: moove_pannel 70s linear infinite;
}
.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}
@keyframes moove_pannel {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-85%);
  }
}

.navigation {
  gap: 2px;
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navigation_link {
  position: relative;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
}
.navigation_link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: rgb(255, 255, 255);
  bottom: 0;
  transition: 0.2s;
}
.navigation_link:hover::before {
  width: 100%;
}
.navigation_link_texte {
  display: inline-block;
  mix-blend-mode: difference;
}
.navigation_link_picto {
  mix-blend-mode: difference;
}
.button-magnetic {
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 45px;
  width: 45px;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  border-radius: 50px;
  color: black;
}
.button-magnetic::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  transition: all .6s cubic-bezier(.19,1,.22,1);
}
.button-magnetic::after {
  position: absolute;
  content: "";
  top: -6px;
  left: -6px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
  border: solid 0.5px rgba(255, 255, 255, 0.301);
  transition: all .6s cubic-bezier(.19,1,.22,1);
}
.button-magnetic-picto {
  pointer-events: none;
  position: relative;
  z-index: 2;
  height: 45px;
  width: 45px;
  display: grid;
  place-content: center;
}
.button-magnetic:hover::before {
  transform: scale(1.3);
}
.button-magnetic:hover::after {
  transform: scale(1.3);
  border: solid 0.5px rgba(255, 255, 255, 0.668);
}
.full_image {
  width: min(calc(100% - 40px), 1300px);
  height: 800px;
  margin: auto;
  background: url('img/2023-02-11_17.14.10.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#cursor {
 position: fixed;
 width: 13px;
 height: 13px;
 border-radius: 50%;
 background-color: #f5f5f5;
 pointer-events: none;
 mix-blend-mode: difference;
 z-index: 9999;
 transition: transform 0.2s;
}
#cursor.link {
  transform: scale(3.5);
}