* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'margareth'; /*a name to be used later*/
  src: url('font/MargarethRosinante-Regular.otf'); /*URL to font*/
}
:root {
  --main-color: #ED5B09;
  --main-text-gray: rgb(199, 199, 199);
  --main-background: #070503
}
.text-main {
  color: var(--main-color);
}
.font {
  font-size: 20px;
  line-height: 30px;    
}
body {
  font-family: Helvetica, Sans-Serif;
  font-size: 20px;
  background-color: var(--main-background);
  overflow-x: hidden;
  color: white;
  cursor: none;
}
a {
  color: white;
  text-decoration: none;
}
nav {
  width: 100%;
  height: 95px;
  position: fixed;
  transition: 0.4s cubic-bezier(.19,1,.22,1);
  z-index: 999;
}
nav.active {
  height: 70px;
  background: rgba(11, 11, 10, 0.755);
  backdrop-filter: blur(30px) saturate(180%);
}
.nav-top.active {
  border-bottom: solid 1px rgba(255, 255, 255, 0.08);
}
.nav-bottom.active {
  border-top: solid 1px rgba(255, 255, 255, 0.08);
}
.nav-bottom {
  width: 100%;
  height: 95px;
  position: fixed;
  bottom: 0;
}
.navbar_logo {
  font-family: 'margareth';
  font-size: 35px;
  color: white;
}
.navbar {
  width: min(calc(100% - 40px), 1300px);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navbar_box {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar_box p:nth-child(2) {
  padding-left: 35px;
}
.navbar_box a:nth-child(2) {
  padding-left: 40px;
}
.navbar_box2 p:nth-child(1) {
  padding-left: 35px;
  color: white;
}
.navbar_box2 p:nth-child(2) {
  padding: 0;
}
/* titre hero */
.title_intro_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  user-select: none;
-webkit-user-select: none;

}
.title_intro {
  font-size: 250px;
  width: fit-content;
  white-space: nowrap;
  font-family: 'margareth';
  animation: moove_pannel 70s linear infinite;
}
.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}
@keyframes moove_pannel {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-85%);
  }
}

.type_art {
  width: min(calc(100% - 40px), 1300px);
  margin: auto;
  height: fit-content;
  display: flex; 
  gap: 40px;
  padding: 40px 0;
}
.type_art_left {
  flex: 1;
  height: fill-content;
}
.type_art_left > div {
  position: sticky;
  top: 80px;
}
.type_art h2 {
  font-family: 'margareth';
  font-size: 100px;
}
.type_art p {
  color: var(--main-text-gray);
}
.type_art_right {
  flex: 1;
  height: 100%;
}
.type_art_right > div {
  width: 100%;
  height: 450px;
  background-image: url('img/2023-02-11_17.14.10.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.type_art_right > div:nth-child(2) {
  background-image: url('img/2023-02-11_17.14.10.png');
}
.type_art_right > div:nth-child(3) {
  background-image: url('img/2023-02-11_17.14.10.png');
}
.type_art_right > div:not(:last-child){
  margin-bottom: 40px;
}

.navigation {
  gap: 2px;
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navigation_link {
  position: relative;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
}
.navigation_link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: rgb(255, 255, 255);
  bottom: 0;
  transition: 0.2s;
}
.navigation_link:hover::before {
  width: 100%;
}
.navigation_link_texte {
  display: inline-block;
  mix-blend-mode: difference;
}
.navigation_link_picto {
  mix-blend-mode: difference;
}
.button_2line {
  position: relative;
  height: 45px;
  width: 45px;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  border-radius: 50px;
  color: black;
}
.button_2line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  transition: all .6s cubic-bezier(.19,1,.22,1);
}
.button_2line::after {
  position: absolute;
  content: "";
  top: -6px;
  left: -6px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
  border: solid 0.5px rgba(255, 255, 255, 0.301);
  transition: all .6s cubic-bezier(.19,1,.22,1);
}
.button_2line_picto {
  position: relative;
  z-index: 2;
  height: 45px;
  width: 45px;
  display: grid;
  place-content: center;
}
.button_2line:hover::before {
  transform: scale(1.3);
}
.button_2line:hover::after {
  transform: scale(1.3);
  border: solid 0.5px rgba(255, 255, 255, 0.542);
}
.full_image {
  width: min(calc(100% - 40px), 1300px);
  height: 800px;
  margin: auto;
  background: url('img/2023-02-11_17.14.10.png');
  background-size: cover;
  background-repeat: no-repeat;
}





/* hover attract */
.attract-hover {
  display: inline-block;
}
.attract-hover-easing {
  transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}


#customCursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: -10px;
  left: -10px;
  pointer-events: none;
  display: none;
}

 #cursor{
 position: fixed;
 width: 13px;
 height: 13px;
 border-radius: 50%;
 background-color: #f5f5f5;
 pointer-events: none;
 mix-blend-mode: difference;
 z-index: 9999;

 transition: transform 0.2s;
}